<!DOCTYPE html>
<html>
<head>
  <title>TITULO</title>
  <!--ESTOS SON HELPER METHODS-->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


  <header>
    
    <h1>UTILIZANDO LAYOUT DE APPLICATION CONTROLLER (DEFAULT PARA LOS DEMÁS)</h1>
    
  </header>
  
<%= yield %>

</body>
</html>
