<!DOCTYPE html>
<html>
<head>
  <title></title>
  
<body>


  <header>
    
    <h1>HOME LAYOUT</h1>
    
  </header>
  <p>Este mensaje viene del layout para home</p>
  
<%= yield %>

</body>
</html>
